<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlet.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutus</servlet-name>
        <servlet-class>servlet.aboutus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>services</servlet-name>
        <servlet-class>servlet.services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gallery</servlet-name>
        <servlet-class>servlet.gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>servlet.contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email</servlet-name>
        <servlet-class>servlet.email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user</servlet-name>
        <servlet-class>servlet.user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendnews</servlet-name>
        <servlet-class>servlet.sendnews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gallery_admin</servlet-name>
        <servlet-class>servlet.gallery_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email_admin</servlet-name>
        <servlet-class>servlet.email_admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutus</servlet-name>
        <url-pattern>/aboutus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gallery</servlet-name>
        <url-pattern>/gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendnews</servlet-name>
        <url-pattern>/sendnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gallery_admin</servlet-name>
        <url-pattern>/gallery_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_admin</servlet-name>
        <url-pattern>/email_admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
