/* 
    Document   : contact
    Created on : Jun 1, 2013, 1:13:29 AM
    Author     : Note
    Description:
        Purpose of the stylesheet follows.
*/
#contact, #comment , #quotation{
    display: none;
}

.container, .container2, .container3{
    width: 99%;
    min-height: 650px !important;
    height: 100%;
    margin-top: 5px;
    margin-left: 5px;
    color:#362022;
    font-size: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
/*    background: rgb(249,236,137);  Old browsers 
     IE9 SVG, needs conditional override of 'filter' to 'none' 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZWM4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iI2VmZDMxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(249,236,137,1) 0%, rgba(239,211,31,1) 93%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,236,137,1)), color-stop(93%,rgba(239,211,31,1)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%);  W3C 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ec89', endColorstr='#efd31f',GradientType=0 );  IE6-8 */
    -moz-box-shadow: 0px 0px 5px #E1E1E1;
    -webkit-box-shadow: 0px 0px 5px #E1E1E1;
    box-shadow: 0px 0px 5px #E1E1E1;
}
.contact{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 95%;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid #362022 1px;
}
.formcontact.ui-grid-c .ui-block-a, .formcontact.ui-grid-c .ui-block-d{
/*    border: solid red;*/
    width: 25%;
}
.formcontact.ui-grid-c .ui-block-b{
    width: 15%;
    line-height: 50px;
}
.formcontact.ui-grid-c .ui-block-c{
    width: 35%;
}
textarea.ui-input-text {
    height: 100px;
}
 .formcontact.ui-grid-c .button.ui-block-d , .bid.ui-grid-c .button.ui-block-d {
    width: 32%;
}
.formcontact.ui-grid-c .button.ui-block-a , .bid.ui-grid-c .button.ui-block-a{
    width: 38%;
}
.formcontact.ui-grid-c .button.ui-block-b,.formcontact.ui-grid-c .button.ui-block-c, .bid.ui-grid-c .button.ui-block-b  , .bid.ui-grid-c .button.ui-block-c{
    margin: 50px auto;
    width: 20%;
    line-height: normal;
}
.ui-btn-inner{
    width: 100px;
}
.info.ui-grid-d .info.ui-block-a, .info.ui-grid-d .info.ui-block-f {
    width: 5%;
}
.info.ui-grid-d .info.ui-block-c{
    width: 10%;
}
.info.ui-grid-d .info.ui-block-b{
    margin: 50px auto;
    width: 45%;
    line-height: 30px;
}
.info.ui-grid-d .info.ui-block-d{
    margin: 50px auto;
    width: 35%;
    line-height: 30px;
}

.bid.ui-grid-c{
    font-size: 15px;
}
.bid.ui-grid-c .ui-block-a, .bid.ui-grid-c .ui-block-d{
/*    border: solid red;*/
    width: 25%;
    
}
.bid.ui-grid-c .ui-block-b{
    width: 15%;
    line-height: 50px;
}
.bid.ui-grid-c .ui-block-c{
    width: 35%;
}

.bid.ui-grid-c .typeservices.ui-block-a{
    width: 10%;
    
}
.bid.ui-grid-c .typeservices.ui-block-d{
    width: 25%;
}
.bid.ui-grid-c .typeservices.ui-block-b{
/*    border: solid red;*/
}
.bid.ui-grid-c .typeservices.ui-block-c{
    width: 50%;
}
.ui-btn-text{
    font-size: 15px;
    font-weight: normal;
}
.bid.ui-grid-c .typeservices.ui-block-c .ui-btn-inner{
    width: 100%;
}
