/* 
    Document   : index
    Created on : May 24, 2013, 5:50:42 PM
    Author     : Note
    Description:
        Purpose of the stylesheet follows.
*/

.advert{
    width: 99%;
    height: 250px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #FFDF00;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.span3{
    width: 250px;
    height: 410px;
}

[class *="span"]{
    float: left;
    border: 1px solid #b3b3b3;
    margin-top: 5px;
}
.span3.feature{
    margin: 5px 10px 0px 10px;
}
.img_box{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.text{
    width: 230px;
    margin: 20px auto;
}

.bgslide{
    background-image: url('../images/bgslide.png');
    width: 980px;
    height: 450px;
}

.service{
    width: 99%;
    margin: 5px auto;
    border-bottom: 2px solid #a90000;
    background-color: #FFDF00;
    border-radius: 15px 40px 0 0;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topright: 40px;
}

.h-service h3{
    color: #646464;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    padding: 5px;
    display: inline-block;
    margin: 0;
}

.text h6{
    color: #646464;
    margin: 0 0 10px 0;
    font-size: 18px;
}

.text p{
    color: #646464;
    margin: 0;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
}
