/* 
    Document   : index
    Created on : May 24, 2013, 5:50:42 PM
    Author     : Note
    Description:
        Purpose of the stylesheet follows.
*/

.advert{
    width: 99%;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    /*    background-color: #FFDF00;*/
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background: rgb(249,236,137); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZWM4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iI2VmZDMxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(249,236,137,1) 0%, rgba(239,211,31,1) 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,236,137,1)), color-stop(93%,rgba(239,211,31,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* W3C */
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ec89', endColorstr='#efd31f',GradientType=0 );  IE6-8 */

}

.span3{
    width: 250px;
    height: 435px;
}

[class *="span"]{
    float: left;
    border: 1px solid #b3b3b3;
    margin-top: 5px;
}
.span3.feature{
    margin: 5px 10px 0px 10px;
}
.img_box{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.text{
    width: 230px;
    margin: 20px auto;
}

.bgslide{
    background-image: url('../images/bgslide.png');
    width: 980px;
    height: 450px;
}

.service{
    width: 99%;
    margin: 10px auto;
    

}

.h-service h3{
    text-shadow: none;
    color: #c20c0c;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin: 0;
    border-bottom: 2px solid #a90000;
    /*    background-color: #FFDF00;*/
    border-radius: 15px 40px 0 0;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    background: rgb(249,236,137); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZWM4OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iI2VmZDMxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  rgba(249,236,137,1) 0%, rgba(239,211,31,1) 93%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,236,137,1)), color-stop(93%,rgba(239,211,31,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(249,236,137,1) 0%,rgba(239,211,31,1) 93%); /* W3C */
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ec89', endColorstr='#efd31f',GradientType=0 );  IE6-8 */
}
.text h6{
    color: #c20c0c;
    margin: 0 0 10px 0;
    font-size: 18px;
}

.text p{
    color: #c20c0c;
    margin: 0;
    font-size: 14px;
    line-height: 23px;
    font-weight: bold;
}

.advertbox1{
    float: left;
    width: 60%;
    margin-left: 20px;
    text-align: justify;
    text-shadow: none;
    text-indent: 15px;
    font-size: 15px;
    line-height: 20px;
    color: #c20c0c;
}

.advertbox2{
    float: left;
    margin-left: 10px;
    width: 35%;
    color: #c20c0c;
}
