/* 
    Document   : style
    Created on : May 23, 2013, 12:06:52 PM
    Author     : Note
    Description:
        Purpose of the stylesheet follows.
*/
.ui-link{
    text-decoration: none;
    color : #696969;

}

.language{
    float: left;
    white-space: nowrap;
    margin-left: 385px;
}
.language a:link{
    float: left;
    white-space: nowrap;
    cursor: default;
    font-size: 14px;
}

.header{
    background-image: url('../images/hki.png');
    background-repeat: no-repeat;
    width: 980px;
    height: 160px;
    border-radius: 0 0 10px 10px ;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
.ui-bar-a a.ui-link:link , .ui-bar-a a.ui-link:visited {
    color:#FFDF00;
}
.ui-bar-a a.ui-link:hover {
    color:#d4d4d4;
}



/* ColumnRight START */
.column.ui-grid-a .ui-block-a .default.ui-grid-a .ui-block-a,.column.ui-grid-a .ui-block-a .default.ui-grid.a .ui-block-b{
    width:50%;
}
/* ColumnRight END */

/* ColumnLeft START */

.column.ui-grid-a .column.ui-block-a{
    width:20%; 
    height: auto;
}
.column.ui-grid-a .column.ui-block-b{
    width:80%;
}
.frmcolL , .frmcolL2 , .frmcolL3{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color: #c20c0c;

}
.frmcolL{
    margin-top: 5px;
}
.frmcolL2 , .frmcolL3{
    margin-top: 10px;
}
.box5px{
    height: 5px;
}
.headlogin{
    width: 95%;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
    font-weight: bold;
    text-shadow: none;
    color: #c20c0c;
    /*    background-color: #FFDF00;*/
    border-radius: 15px 40px 0 0;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-right-radius: 40px;
    -moz-border-radius-topright: 40px;
    background: rgb(255,248,53); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjgzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmRmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,248,53,1) 0%, rgba(255,223,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,248,53,1)), color-stop(100%,rgba(255,223,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff835', endColorstr='#ffdf00',GradientType=0 ); /* IE6-8 */
}
.ui-grid-b.login{
    width: 93.5%;
    margin: 0 auto;
    border: solid white 1px;
    border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
.login.ui-grid-b .login.ui-block-a , .login.ui-grid-b .login.ui-block-c{
    width: 10px;
}
.ui-grid-b.login .login.ui-block-b{
    width: 200px;
}
.frmemail {
    text-align: center;
    width: 170px;
    margin: 20px 7.5px 0 7.5px;
}
.frmpass {
    text-align: center;
    width: 170px;
    margin: 20px 7.5px 0 7.5px;
}
.btlogin{
    text-align: center;
    width: 70%;
    margin: 15px 22.5px 0px 22.5px;
}

.text-email{
    margin: 0 auto;
    text-shadow: none;
    color: #FFDF00;
    font-size: 15px;
}

.service-CL{
    text-shadow: none;
    color: #FFDF00;
    font-size: 14px;
    line-height: 25px;
    white-space: normal;
}
/* ColumnLeft END */

/* BUTTON */
.ui-btn-hover-b {
    font-weight: bold;
    background: #FFDF00 /*{b-bup-background-color}*/;
    color: #fff /*{b-bhover-color}*/;
    text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #194b7e /*{b-bhover-shadow-color}*/;
}
.ui-btn-up-b {
    border: 1px solid #044062 /*{b-bup-border}*/;
    font-weight: bold;
    color: #c20c0c /*{b-bup-color}*/;
    text-shadow: none;
    background: rgb(255,248,53); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjgzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmRmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,248,53,1) 0%, rgba(255,223,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,248,53,1)), color-stop(100%,rgba(255,223,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,248,53,1) 0%,rgba(255,223,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff835', endColorstr='#ffdf00',GradientType=0 ); /* IE6-8 */
}

/* END BUTTON */

/* MENU START */
#menu{
    background-color: #ffffff;
    text-shadow: none;
    width: 980px;
    height: 40px;
    color: #FFDF00;
    text-align: center;
    font-size:15px;
    margin: 0 auto;
}

#menu a:link{
    cursor: pointer;
}

ul#css3menu1,ul#css3menu1 ul{width:980px;border-radius: 10px 10px 0 0;
                             -webkit-border-top-left-radius: 10px;
                             -moz-border-radius-topleft: 10px;
                             -webkit-border-top-right-radius: 10px;
                             -moz-border-radius-topright: 10px;
                             margin:0px;list-style:none;padding:0;background-repeat:repeat;border-width:0px;border-style:solid;border-color:#999999;
                             background: #e02f2f; /* Old browsers */
                             /* IE9 SVG, needs conditional override of 'filter' to 'none' */
                             background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwMmYyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNmY1YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2RkMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2UwMTgxOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZjAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                             background: -moz-linear-gradient(top,  #e02f2f 0%, #f16f5c 50%, #dd0000 51%, #e01818 71%, #af0000 100%); /* FF3.6+ */
                             background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e02f2f), color-stop(50%,#f16f5c), color-stop(51%,#dd0000), color-stop(71%,#e01818), color-stop(100%,#af0000)); /* Chrome,Safari4+ */
                             background: -webkit-linear-gradient(top,  #e02f2f 0%,#f16f5c 50%,#dd0000 51%,#e01818 71%,#af0000 100%); /* Chrome10+,Safari5.1+ */
                             background: -o-linear-gradient(top,  #e02f2f 0%,#f16f5c 50%,#dd0000 51%,#e01818 71%,#af0000 100%); /* Opera 11.10+ */
                             background: -ms-linear-gradient(top,  #e02f2f 0%,#f16f5c 50%,#dd0000 51%,#e01818 71%,#af0000 100%); /* IE10+ */
                             background: linear-gradient(to bottom,  #e02f2f 0%,#f16f5c 50%,#dd0000 51%,#e01818 71%,#af0000 100%); /* W3C */
                             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e02f2f', endColorstr='#af0000',GradientType=0 ); /* IE6-8 */

}
ul#css3menu1 ul{width: auto;border: solid #FFDF00 1px;
                display:none;position:absolute;left:0;top:100%;-moz-box-shadow:0.7px 0.7px 1px #777777;-webkit-box-shadow:0.7px 0.7px 1px #777777;box-shadow:0.7px 0.7px 1px #777777;background-color:#c20c0c;background-image:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;padding: 0px 10px 0px 10px;}
ul#css3menu1 li:hover>*{
    display:block;}
ul#css3menu1 li{
    /*width: 100px;*/
    padding: 0 5px;
    /*margin-left: 20px;*/
    position:relative;display:block;white-space:nowrap;float:left;}
ul#css3menu1 li:hover{
    z-index:1;}
ul#css3menu1{
    z-index:100;position:relative;display:inline-block;zoom:1;
    *display:inline;}
ul#css3menu1>li{
    margin:0 0 0 1px;}
* html ul#css3menu1 li a{
    display:inline-block;}
ul#css3menu1 ul>li{
    margin:1px 0 0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
    outline-style:none;}
ul#css3menu1 a{
    display:block;vertical-align:middle;text-align:center;text-decoration:none;color:#FFDF00;cursor:default;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none; line-height: 40px;}
ul#css3menu1 ul li{
    float:none;}
ul#css3menu1 ul a{
    text-align:left;background-color:#c20c0c;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#FFDF00;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;color:#FFDF00;text-decoration:none;}
ul#css3menu1 ul a.publication{
    text-align:left;padding:8px 0 0 0;background-color:#c20c0c;background-image:none;border-width:1px 0 0 0;border-style:solid;border-color:#7a7a7a;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;color:#FFDF00;text-decoration:none;}

ul#css3menu1 li:hover>a,ul#css3menu1 a.pressed{
    /*    background-color:#c20c0c;*/
    border-style:none;color:#f9f4d9;text-decoration:none;background-image:url("mainbk.png");background-position:0 100px;}
ul#css3menu1 img{
    border:none;vertical-align:middle;margin-right:10px;}
ul#css3menu1 img.over{
    display:none;}
ul#css3menu1 li:hover > a img.def{
    display:none;}
ul#css3menu1 li:hover > a img.over{
    display:inline;}
ul#css3menu1 li a.pressed img.over{
    display:inline;}
ul#css3menu1 li a.pressed img.def{
    display:none;}
ul#css3menu1 span{
    display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
    background-color:#c20c0c;background-image:none;border-style:solid;border-color:#FFDF00;color:#f9f4d9;text-decoration:none;}
ul#css3menu1 li.topfirst>a{margin-left: 10px;
                           border-radius:0px 0 0 0px;-moz-border-radius:0px 0 0 0px;-webkit-border-radius:0px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst>a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.topmenu>a{
    text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.toplast>a{
    border-radius:0 0px 0px 0;-moz-border-radius:0 0px 0px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:0px;-webkit-border-bottom-right-radius:0px;text-shadow:#000000 0px -1px 1px;}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast>a.pressed{
    text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 _>li>a{
    padding:0;}
ul#css3menu1 li.subfirst>a{
    border-width:0;border-style:none;padding:0;}
ul#css3menu1 li.subfirst:hover>a,ul#css3menu1 li.subfirst>a.pressed{
    border-style:none;}

ul#css3menu1 li.subfirst{
    font-size:13px;
    width: 100%;
}
ul#css3menu1 li.sub{
    font-size:13px;
    width: 100%;
}
ul#css3menu1 li.sublast{
    font-size:13px;
    width: 100%;
    padding-right: 10px;
}
/* MENU STOP */
